<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="https://buck-gifs-portfolio-1.s3.us-east-2.amazonaws.com/gifprojetosDiet.gif" alt="Projeto Agendamentos">
      <!-- <img class="object-cover object-center w-full h-full" src="../../../../assets/gifprojetosDiet.gif" alt="Projeto Agendamentos"> -->
    </div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-white">Projeto Api Diet Rocketseat</h1>
        <div class="leading-relaxed">Abaixo uma breve descrição e explicação do projeto além da apresentação das tecnologias utilizadas para desenvolvimento para esse meu projeto pessoal.</div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/vue.png" alt="Logo Vue">
        <p class="leading-relaxed">Vuex</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/ts.png" alt="Logo Vue">
        <p class="leading-relaxed">TypeScript</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/node.png" alt="Logo Vue">
        <p class="leading-relaxed">Node.js</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/js.png" alt="Logo Vue">
        <p class="leading-relaxed">JavaScript</p>
      </div>
    </div>
  </div>

  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-10">
        <p class="leading-relaxed text-base">
          Este projeto foi desenvolvido como parte de um desafio da plataforma de cursos Rocketseat, com o objetivo de criar uma API robusta utilizando <b class="text-lime-700">Node.js</b> com <b class="text-blue-500">TypeScript</b> e o framework <b class="text-zinc-950">Fastify</b>, substituindo o uso do Express.
          O sistema foi desenhado para gerenciar as dietas dos usuários através de operações CRUD (Criar, Ler, Atualizar, Deletar).
          <br>
          Originalmente proposto para ser construído em <b class="text-blue-500">React</b>, o projeto foi reestruturado utilizando <b class="text-emerald-600">Vuex</b> para gerenciamento de estado, com <b class="text-amber-600">HTML</b> e <b class="text-sky-600">CSS</b> puro para uma interface responsiva.
        </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/1 sm:w-1/1 w-full">
        <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">FUNCIONALIDADES</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <p class="text-slate-200">Registro de Refeições</p>
            <small class="text-gray-600">Os usuários podem registrar cada refeição, incluindo detalhes como horário e data.</small>
          </a>
          <a>
            <p class="text-slate-200">Edição de Dados</p>
            <small class="text-gray-600">Após o registro, os usuários têm a liberdade de editar qualquer informação sobre suas refeições.</small>
          </a>
          <a>
            <p class="text-slate-200">Análise Gráfica</p>
            <small class="text-gray-600">O sistema gera gráficos que analisam o equilíbrio das dietas, destacando refeições saudáveis e menos saudáveis.</small>
          </a>
          <a>
            <p class="text-slate-200">Exclusão de Refeições</p>
            <small class="text-gray-600">Os usuários podem excluir registros de refeições, permitindo um controle detalhado sobre a dieta.</small>
          </a>
        </nav>
      </div>
    </div>
  </div>
</section>
