<section class="text-gray-600 body-font">
  <div class="container px-5 pt-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">PROJETO DEVS NA ESCOLA</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Levando mais conhecimento tecnológico para o futuro do mundo, nosso jovens.
      </p>
    </div>
  </div>
  <div class="container px-5 pb-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <h2 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">PROPÓSITO DO PROJETO</h2>
          <p class="leading-relaxed mb-6">
            A Kdev Dicas, acredita firmemente que a tecnologia é o futuro e que
            temos uma responsabilidade ética de compartilhar esse conhecimento com os
            jovens e adolescentes que estão prestes a ingressar no mercado de trabalho nos
            próximos anos.
            De acordo com a Associação Brasileira das Empresas de Tecnologia da Informação e
            Comunicação (Brasscom), o Brasil poderá enfrentar um déficit de até 264 mil
            desenvolvedores de software até 2025. Esse cenário desafiador é impulsionado pelo
            crescimento exponencial do setor de tecnologia, que demanda um número
            crescente de profissionais qualificados em diversas áreas da tecnologia da
            informação.
            Diante dessa realidade, sentimos a urgência de agir. Nosso compromisso é equipar a
            próxima geração com as habilidades necessárias para prosperar em um ambiente
            cada vez mais tecnológico, garantindo que eles não apenas compreendam a
            tecnologia, mas também possam inovar e liderar nesse campo.
          </p>
          <a class="inline-flex items-center">
            <img alt="testimonial" src="../../../../../assets/logo-kdevdicas.png" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">KDEV.DICAS</span>
              <span class="text-gray-500 text-sm">Gustavo Karnopp</span>
            </span>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <h2 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">MOTIVAÇÃO DO PROJETO</h2>
          <p class="leading-relaxed mb-6">
            Assim como muitos jovens que estudam em escolas públicas, venho de uma família humilde.
            Até os 18 anos, minha interação com a tecnologia era extremamente limitada. Na verdade, eu não tinha a mínima ideia de como funcionava o desenvolvimento de
            softwares e aplicativos, como Uber, Spotify, iFood, entre outros.
            Meu conhecimento era quase nulo, mas a tecnologia entrou em minha vida da mesma forma que muitos de nós começamos a interagir com ela: mediante uma
            conversa. Um amigo me explicou todo o processo de desenvolvimento de software, mencionando que isso poderia não apenas se tornar uma profissão, mas
            também oferecer excelente remuneração e até mesmo a possibilidade de trabalhar no exterior.
            E é exatamente isso que nos traz aqui hoje. Nosso objetivo é apresentar a alunos, mais especificamente os que estão indo para o ensino médio ou tão logo
            faculdade, os benefícios que a área de tecnologia oferece.
            Queremos esclarecer dúvidas, explorar curiosidades e prepará-los para um futuro que, cedo ou tarde, será dominado pela tecnologia.
          </p>
          <a class="inline-flex items-center">
            <img alt="testimonial" src="../../../../../assets/logo-kdevdicas.png" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">KDEV.DICAS</span>
              <span class="text-gray-500 text-sm">Gustavo Karnopp</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
