<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-white">Projeto Controle de Agendamentos para Festas</h1>
        <div class="leading-relaxed">Abaixo uma breve descrição e explicação do projeto além da apresentação das tecnologias utilizadas para desenvolvimento para esse meu projeto pessoal.</div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/vue.png" alt="Logo Vue">
        <p class="leading-relaxed">Vuex</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/strapi.png" alt="Logo Vue">
        <p class="leading-relaxed">Strapi</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/heroku.png" alt="Logo Vue">
        <p class="leading-relaxed">Heroku</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <img width="50" src="../../../../assets/logos-tach/js.png" alt="Logo Vue">
        <p class="leading-relaxed">JavaScript</p>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="../../../../assets/gifprojetos.gif" alt="Projeto Agendamentos">
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking vinegar.</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
      <p class="text-gray-500">Desenvolvedor Front-end Gustavo Karnopp</p>
    </div>
  </div>
</section>
