@if(isImageLoadedGif1){
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-white">Projeto Controle de Agendamentos para Festas</h1>
          <div class="leading-relaxed">Abaixo uma breve descrição e explicação do projeto além da apresentação das tecnologias utilizadas para desenvolvimento para esse meu projeto pessoal.</div>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <img width="50" src="../../../../assets/logos-tach/vue.png" alt="Logo Vue">
          <p class="leading-relaxed">Vuex</p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <img width="50" src="../../../../assets/logos-tach/strapi.png" alt="Logo Vue">
          <p class="leading-relaxed">Strapi</p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <img width="50" src="../../../../assets/logos-tach/heroku.png" alt="Logo Vue">
          <p class="leading-relaxed">Heroku</p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <img width="50" src="../../../../assets/logos-tach/js.png" alt="Logo Vue">
          <p class="leading-relaxed">JavaScript</p>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" [src]="imageUrlGif1" alt="Projeto Agendamentos" loading="lazy">
      </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-10">
          <p class="leading-relaxed text-base">
            O sistema <b class="text-yellow-400">& Confere</b> foi desenvolvido para resolver a complexidade na organização e confirmação de convidados para eventos, como aniversários infantis.
            Este projeto visa simplificar o processo de gestão de eventos, tornando-o acessível tanto para indivíduos quanto para empresas e casas de festas.
            <br>
            Atualmente, o projeto não está em produção devido a custos operacionais associados ao armazenamento de dados.
            A intenção é disponibilizar o <b class="text-yellow-400">& Confere</b> gratuitamente assim que viável, mantendo um registro acessível e completo para cada usuário sobre todos os eventos organizados anteriormente.
          </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
          <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">BENEFÍCIOS</h2>
          <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
            <a>
              <p class="text-slate-200">Eficiência Organizacional</p>
              <small class="text-gray-600">Reduz o esforço manual na gestão de confirmações e ajustes de planejamento.</small>
            </a>
            <a>
              <p class="text-slate-200">Visão Integrada</p>
              <small class="text-gray-600">Os usuários podem acessar históricos de eventos anteriores, proporcionando uma visão completa de suas atividades.</small>
            </a>
          </nav>
        </div>
        <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
          <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">FUNCIONALIDADES</h2>
          <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
            <a>
              <p class="text-slate-200">Criação de Perfil</p>
              <small class="text-gray-600">Usuários registram-se fornecendo nome, e-mail e senha.</small>
            </a>
            <a>
              <p class="text-slate-200">Gerenciamento de Eventos</p>
              <small class="text-gray-600">Após o login, o usuário pode cadastrar eventos, inserindo informações relevantes.</small>
            </a>
            <a>
              <p class="text-slate-200">Convite e Confirmação</p>
              <small class="text-gray-600">Os eventos criados são acompanhados de um link compartilhável, permitindo que convidados confirmem sua presença e de seus acompanhantes online.</small>
            </a>
            <a>
              <p class="text-slate-200">Atualizações em Tempo Real</p>
              <small class="text-gray-600">A plataforma atualiza e exibe informações sobre a presença confirmada, demografia dos convidados, e outras estatísticas úteis.</small>
            </a>
            <a>
              <p class="text-slate-200">Análise de Dados</p>
              <small class="text-gray-600">O sistema analisa dados dos eventos para estimar a quantidade necessária de alimentos, bebidas e outros recursos, baseando-se no perfil dos convidados.</small>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </section>
}@else{
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-white">
            <!-- TITLE -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 40,
                'width.px': 300,
                'background-color': '#979797'
              }"
              count="1"
            />
          </h1>
          <div class="leading-relaxed">
            <!-- TEXTO -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 10,
                'background-color': '#979797'
              }"
              class="line"
              count="2"
            />
          </div>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <!-- ICONES -->
          <ngx-skeleton-loader
            [theme]="{'height.px': 50, 'width.px': 50, 'background-color': '#979797'}"
            count="1"
            appearance="circle"
          />
          <p class="leading-relaxed">
            <!-- TITLE ICONES  -->
            <ngx-skeleton-loader
            [theme]="{
              'height.px': 5,
              'width.px': 100,
              'background-color': '#979797'
            }"
              count="1"
            />
          </p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <!-- TITLE -->
          <ngx-skeleton-loader
          [theme]="{'height.px': 50, 'width.px': 50, 'background-color': '#979797'}"
          count="1" appearance="circle"
          />
          <p class="leading-relaxed">
            <!-- TITLE ICONES  -->
            <ngx-skeleton-loader
            [theme]="{
              'height.px': 5,
              'width.px': 100,
              'background-color': '#979797'
            }"
            count="1"
            />
          </p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <!-- TITLE -->
          <ngx-skeleton-loader
          [theme]="{'height.px': 50, 'width.px': 50, 'background-color': '#979797'}"
          count="1" appearance="circle"
          />
          <p class="leading-relaxed">
            <!-- TITLE ICONES  -->
            <ngx-skeleton-loader
            [theme]="{
              'height.px': 5,
              'width.px': 100,
              'background-color': '#979797'
            }"
            count="1"
            />
          </p>
        </div>
        <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
          <!-- TITLE -->
          <ngx-skeleton-loader
          [theme]="{'height.px': 50, 'width.px': 50, 'background-color': '#979797'}"
          count="1" appearance="circle"
          />
          <p class="leading-relaxed">
            <!-- TITLE ICONES  -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 5,
                'width.px': 100,
                'background-color': '#979797'
              }"
              count="1"
            />
          </p>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <!-- GIFS -->
        <ngx-skeleton-loader
        [theme]="{
          'height.px': 420,
          'width.px': 748,
          'background-color': '#979797'
        }"
          count="1"
        />
      </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-10">
          <p class="leading-relaxed text-base">
            <!-- TEXTO -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 10,
                'width.px': 1500,
                'background-color': '#979797'
              }"
              count="3"
            />
          </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
          <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">
            <!-- TITLE -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 20,
                'width.px': 300,
                'background-color': '#979797'
              }"
              count="1"
            />
          </h2>
          <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 500,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </small>
            </a>
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 600,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </small>
            </a>
          </nav>
        </div>
        <div class="p-4 lg:w-1/2 sm:w-1/2 w-full">
          <h2 class="font-medium title-font tracking-widest text-white mb-4 text-sm text-center sm:text-left">
            <!-- TITLE -->
            <ngx-skeleton-loader
              [theme]="{
                'height.px': 20,
                'width.px': 300,
                'background-color': '#979797'
              }"
              count="1"
            />
          </h2>
          <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 500,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </small>
            </a>
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 600,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </small>
            </a>
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 600,
                    'background-color': '#979797'
                  }"
                  count="2"
                />
              </small>
            </a>
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 600,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </small>
            </a>
            <a>
              <p class="text-slate-200">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 15,
                    'width.px': 300,
                    'background-color': '#979797'
                  }"
                  count="1"
                />
              </p>
              <small class="text-gray-600">
                <ngx-skeleton-loader
                  [theme]="{
                    'height.px': 10,
                    'width.px': 600,
                    'background-color': '#979797'
                  }"
                  count="2"
                />
              </small>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </section>
}
