<div class="item">
  @if(isImageLoaded){
      <section class="text-gray-400 bg-gray-900">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <img #imageElement class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" [src]="imageUrl">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Gustavo Henrique Meinhardt Karnopp</h1>
            <p class="leading-relaxed mb-8">
              Desenvolvedor de software há mais de 3 anos, trabalhei em alguns projetos como o hub de socio do Sport Club Internacional, site Sport Club de Recife, sistemas de venda de ingressos,
              entre outros projetos como Lading pages, sites de divulgação e projetos particulares.
            </p>
            <div class="flex justify-center">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" (click)="download()">Download CV</button>
            </div>
          </div>
        </div>
      </section>
  }@else{
    <section class="text-gray-400 bg-gray-900">
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <ngx-skeleton-loader [theme]="{'height.px': 413, 'width.px': 413, 'background-color': '#979797'}" count="1" appearance="circle"></ngx-skeleton-loader>
        <div class="text-center lg:w-2/3 w-full">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
            <ngx-skeleton-loader [theme]="{'height.px': 40, 'width.px': 750, 'background-color': '#979797'}" count="1"></ngx-skeleton-loader>
          </h1>
          <div>
            <ngx-skeleton-loader [theme]="{'height.px': 10, 'background-color': '#979797'}" class="line" count="3"></ngx-skeleton-loader>
          </div>
          <div>
            <ngx-skeleton-loader [theme]="{'height.px': 44, 'width.px': 156, 'background-color': '#979797'}" count="1"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </section>
  }
</div>
