//RED
$secundary-color-red-clara: #ff8e9a;
$primary-color-red: #7e111c;
$secundary-color-red-escura: #49070e;

//BLUE
$secundary-color-blue-transparent: rgb(94 24 235);
// $secundary-color-blue-transparent: rgb(99 102 241);
$primary-color-blue: rgb(75, 78, 252);
$secundary-color-blue-escura: rgb(17 24 39);
