<div class="text-gray-400 bg-gray-900 ">
  <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img src="../../../../assets/logo/logo-500x500.png" width="50" alt="Gustavo Karnopp">
      <span class="ml-3 text-xl">Gustavo Karnopp</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" routerLink="/home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'hove_select': selectRoute === '/home'}">Home</a>
      <a class="mr-5 hover:text-white" routerLink="/sobre" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'hove_select': selectRoute === '/sobre'}">Sobre</a>
      <a class="mr-5 hover:text-white" routerLink="/projetos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'hove_select': selectRoute === '/projetos'}">Projetos</a>
      <a class="mr-5 hover:text-white" routerLink="/kdevdicas" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'hove_select': selectRoute === '/kdevdicas'}">KDev Dicas</a>
    </nav>
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">
      <a href="https://api.whatsapp.com/send/?phone=55999685206&text&type=phone_number&app_absent=0" target="_blank">WhatsApp</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>
