/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(17 24 39);
}

.container{
  height: 90vh;
}
