/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../portfolio-g-karnopp/src/styles/variables_media';
@import '../../portfolio-g-karnopp/src/styles/variables_colors';

*{
  margin: 0px;
  padding: 0px;
}

a{
  cursor: pointer;
}

body{
  background-color: $secundary-color-blue-escura;
}

// .container{
//   height: 90vh;
// }

.hove_select{
  border-bottom: 2px solid $secundary-color-blue-transparent;
  // background-color: $secundary-color-blue-transparent;
  padding: 5px;
  border-radius: 4px;
}
